<div class="card-footer" style="margin-bottom: 4% ; margin-top:6%">
  <button type="button" class="btn mt-2 like-button"
          [style.background-color]="liked ?  'white' : '#7a97ed'"
          [disabled]="disabled" (click)="interact(getInteractionType())" >
    <i class="fa fa-gittip"></i> {{ (likesNB) + (liked ? ' Liked' : ' Like') }}
  </button>

  <button type="button" class="btn  mt-2 share-button"
          [style.border]="'none'">
    <i class="fa fa-mail-forward"></i> Share
  </button>
</div>
