.unlock
{
    background-image: url('unlock.png');
    height: 100%;
}
.footer
{
    position: fixed;
    z-index: 0;
    bottom: -23%;
    width: 100%;
    height: 50%;
     @media only screen 
 and (min-device-width :250px) 
 and (max-device-width : 1024px) {
  height: 150px;
  bottom: 0.1%;
}

}