<div class="comments-section">
  <div class="new-comment">
    <textarea [(ngModel)]="newCommentText" placeholder="Write a new comment" #commentTextArea class="comment-input" (input)="autoResizeTextArea(commentTextArea)"></textarea>
    <button class="darkGrey" (click)="submitComment()">Comment</button>
  </div>

  <div class="comments-container" *ngIf="comments && comments.commentsTree && comments.commentsTree.comments">
    <ng-container *ngFor="let comment of comments.commentsTree.comments.slice(0, numCommentsToShow)">
      <div class="comment">
        <div class="comment-details">
          <p class="comment-content">{{ comment.text }}</p>
        </div>

        <div class ="comment-actions">
          <button  class="reply-button" (click)="toggleReplies(comment._id)">
            {{ showReply[comment._id] ? 'Hide Replies' : 'reply' }}
          </button>
          <button  class="delete-button" (click)="deleteComment(comment)">
            delete
          </button>
         <span class="reply-count" *ngIf="comment && comment.commentsTree && comment.commentsTree.comments && comment.commentsTree.comments.length > 0">
          {{ comment.commentsTree.comments.length }} replies
        </span>
        </div>

        <div class="reply-input" *ngIf="showReply[comment._id]">
          <textarea [(ngModel)]="replyText[comment._id]" placeholder="Write a reply" class="comment-input" (input)="autoResizeTextArea(commentTextArea)"></textarea>
          <button class="darkGrey" (click)="submitReply(comment, $event)">Submit Reply</button>
        </div>

        <div class="sub-comments" *ngIf="comment && comment.commentsTree && comment.commentsTree.comments && comment.commentsTree.comments.length > 0 && showReply[comment._id]">
          <ng-container *ngTemplateOutlet="recursiveComments; context: { comments: comment.commentsTree.comments }"></ng-container>
        </div>
      </div>
    </ng-container>
    <button style="background-color: lightgrey ;height: fit-content ;border-radius:10px;"
            (click)="showMoreComments()">Show More</button>
  </div>

  <!-- Recursive comment template-->
  <ng-template #recursiveComments let-comments="comments">
    <div class="sub-comments" *ngFor="let subComment of comments">
      <div class="comment">
        <div class="comment-details">
          <p class="comment-content">{{ subComment.text }}</p>
        </div>

        <div class ="comment-actions">
          <button *ngIf="subComment.level<3" class="reply-button" (click)="toggleReplies(subComment._id)">
            {{ showReply[subComment._id] ? 'Hide Replies' : 'reply' }}
          </button>
          <!--   <button  class="delete-button" (click)="deleteComment(subComment)">
              delete
            </button>
            <button *ngIf="subComment.user_id==this.profile.user_id" class="reply-button" (click)="toggleReplies(subComment._id)">
              modify
            </button> -->
            <span class="reply-count" *ngIf="subComment.commentsTree?.comments && subComment.commentsTree.comments.length > 0">
          {{ subComment.commentsTree.comments.length }} replies
        </span>
          </div>


          <div  *ngIf="subComment.level<3 && showReply[subComment._id]">
            <textarea [(ngModel)]="replyText[subComment._id]" placeholder="Write a reply" class="comment-input" (input)="autoResizeTextArea(commentTextArea)"></textarea>
            <button class="darkGrey" (click)="submitReply(subComment, $event)">Submit Reply</button>
          </div>

          <!-- Recursive rendering of sub-comments -->
        <ng-container *ngIf="showReply[subComment._id] && subComment.commentsTree?.comments && subComment.commentsTree.comments.length > 0">
          <ng-container *ngTemplateOutlet="recursiveComments; context: { comments: subComment.commentsTree.comments }"></ng-container>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
