

<li class ="postitem" >
   <div class ="post">
      <div class="header">
         <div>
            <img [src]="getImageFromService()"   class="profilePicture">
         </div>
      </div>
      <div class="body">
         <p class="postcontent">Le mot-clé  class  permet de définir un corps de classe, dont les éléments (constructeur, méthodes, etc.).
 </p>
          <ul>
       <li>
         <div *ngIf="selectedImage" >
            <div class="slider">
               <div class="img-box">
                  <img (click)="next()" [src]="selectedImage" class="postImg slider-img" >
               </div>
               <button class="nav-btn-left" (click)="prev()"><</button>
               <button class="nav-btn-right" (click)="next()">></button>
            </div>



         </div>
      </li>
            <app-post-interaction [post]="post" (postInteraction)="synchronizeInteractionWithPost($event)"></app-post-interaction>
      <li>
          <div class="comments">
            <app-comments-section [identifier]="post.commentContent" [post_id] ="post.post_id"></app-comments-section>
          </div>
         </li>

      </ul>
      </div>


   </div>
 </li>
