

<li class ="postitem" >
   <div class ="post">
      <div class="header">
         <div>
            <img [src]="post.user.image"   class="profilePicture">
         </div>
      </div>
      <div class="body">
         <p class="postcontent">Le mot-clé  class  permet de définir un corps de classe, dont les éléments (constructeur, méthodes, etc.) n’ont pas besoin d’être séparés par des virgules, contrairement à ce qui se passe dans les littéraux objets.
 
 Il est facile de spécialiser une classe par héritage à l’aide du mot-clé  extends 
 </p>
          <ul>
       <li>
         <div *ngIf="selectedImage" >
            <div  class="slider">
               <div class="img-box">

                  <img [src]="selectedImage" class="postImg slider-img" >
               </div>

              
      
               <button class="nav-btn-left" (click)="prev()"><</button>
               <button class="nav-btn-right" (click)="next()">></button>
            </div>

      
      </div>
      </li>
      
         <li>  	
        <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
      </li>
         <li>
          <div class="comments"> </div> 	
         </li> 	
         
      </ul>
      </div>
 
     
   </div>
 </li> 