<app-loginnav>
</app-loginnav>
<div class="container">
<section class="mb-5 text-center">
  <b>Please provide the temporary password that will be sent to your email and set your new password and confirm it </b>
  <br>
  

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

    <div class="md-form md-outline">
      <label data-error="wrong" data-success="right" for="newPass">Temporary password received</label>
      <input type="password" formControlName="tempPass" class="form-control" required>
    </div>
    <div class="md-form md-outline">
      <label data-error="wrong" data-success="right" for="newPass"> New password</label>
      <input type="password" formControlName="newPass" class="form-control" required>
    </div>

    <div class="md-form md-outline">
      <label data-error="wrong" data-success="right" for="newPass">Repeat New password</label>
      <input type="password" formControlName="newPassConfirm" class="form-control" required>
    </div>
  <br>
    <button type="submit" class="btn btn-primary mb-4">Change password</button>

  </form>

  <div class="d-flex justify-content-between align-items-center mb-2">


    <u><a href="/login">Back to Log In</a></u>

    <u><a href="/inscription">Register</a></u>

  </div>

</section>
</div>
<app-footer class ="footer"> </app-footer>
<!--Section: Block Content-->