<html xmlns:th="http://www.thymeleaf.org">

</head>
    <title>Awesome - Main</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/confirmation.css}">
</head>

<body>

<div id="confirmation">
    <img class="logo-img" th:src="@{/img/medyedek.jpeg}"/>
    <p class="bienvenue"> VOTRE COMPTE EST ACTIVE- BIENVENUE A MEDYEDEK</p>
    <a class="nav-link btn btn-primary"  href="http://localhost:4200/home">GO TO MEDYEDEK</a>
</div>

</body>
</html>