<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="vertical-menu">
            <a href="#" routerLink="/home/userprofile/infos" routerLinkActive="active" >Personnal Informations</a>
                <a href="#" routerLink="/home/userprofile/security" routerLinkActive="active" >Confidentiality</a>
                <a href="#" routerLink="/home/userprofile/preferences" routerLinkActive="active">Preferences</a>
             </div>
</div>
<div class="profile-informations-to-modify">
    <router-outlet></router-outlet>
</div>
</div>

