.vertical-menu {
    width: 200px;
    position: fixed;
    padding-top: 0px;
    width: 10%;
    z-index: 10;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
 .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }

  .profile-informations-to-modify
  {
    position: relative;
    padding-left: 40%;
  }